<div class="about well">

        <h2>
            <i class="icon-twitter"></i> 
            Follow us on twitter!
        </h2>

                    <div id="twitter-status" class="well">
                        <i class=icon-twitter></i>
                        <div id="tweet">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id enim quam, sed posuere risus. Ut porta rhoncus dignissim. Pellentesque sed.
                        </div>
                        <a href="//twitter.com/502Studios">Follow @502Studios &raquo;</a>
                    </div>                    

</div>
